Repository model-checking/kani, pull requests merged in 2021-07, with the labels that each got.

#280 Add support for multiple expected failures.
  src/test/cbmc/DynTrait/vtable_size_align_drop_fail.rs
  src/tools/compiletest/src/runtest.rs
Labels: Area: testing

#325 Extract examples from reference and display their results in a dashboard.
  .gitignore
  Cargo.toml
  scripts/display-dashboard.sh
  src/bootstrap/builder.rs
  src/bootstrap/test.rs
  src/tools/dashboard/Cargo.toml
  src/tools/dashboard/print.sh
  src/tools/dashboard/src/dashboard.rs
  src/tools/dashboard/src/main.rs
  src/tools/dashboard/src/reference.rs
Labels: Area: testing, Status: waiting on review

#333 Use `x.py` to build and run the dashboard.
  .github/workflows/copyright.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  scripts/display-dashboard.sh
  src/bootstrap/builder.rs
  src/bootstrap/run.rs
  src/bootstrap/tool.rs
  src/tools/dashboard/README.md
  src/tools/dashboard/src/reference.rs
Labels: Area: testing

#335 Correct function type for vtable shim (fix some boxed closures)
  compiler/rustc_codegen_llvm/src/gotoc/place.rs
  compiler/rustc_codegen_llvm/src/gotoc/typ.rs
  src/test/cbmc/DynTrait/boxed_closure.rs
  src/test/cbmc/DynTrait/boxed_closure_fail.rs
  src/test/cbmc/DynTrait/nested_closures_fixme.rs
Labels: Status: waiting on review
