Repository model-checking/kani, pull requests merged in 2021-05, with the labels that each got.

#110 Avoid strict type comparison in statement assignment
  compiler/rustc_codegen_llvm/src/gotoc/cbmc/goto_program/stmt.rs
Labels: Area: compilation, Status: waiting on review

#154 Improve some regression tests and add some more.
  rust-tests/cbmc-reg/BitManipulation/Stable/fixme_main_fail.rs
  rust-tests/cbmc-reg/BitManipulation/Unstable/fixme_main_fail.rs
  rust-tests/cbmc-reg/CodegenStatic/main.rs
  rust-tests/cbmc-reg/Enum/result3.rs
  rust-tests/cbmc-reg/ExactDiv/main.rs
  rust-tests/cbmc-reg/FatPointers/boxslice1.rs
  rust-tests/cbmc-reg/FatPointers/boxslice2_fail.rs
  rust-tests/cbmc-reg/FloatingPoint/main.rs
  rust-tests/cbmc-reg/Pointers_Basic/fixme_from_raw_fail.rs
  rust-tests/cbmc-reg/SaturatingIntrinsics/main.rs
  rust-tests/cbmc-reg/Slice/main.rs
  rust-tests/cbmc-reg/Slice/slice_from_raw_fail.rs
  rust-tests/cbmc-reg/f32/main.rs
  rust-tests/cbmc-reg/f64/main.rs
Labels: Area: testing

#162 Install CBMC viewer in CI
  .github/workflows/rmc.yml
  scripts/setup/install_viewer.sh
  scripts/setup/macos-10.15/install_deps.sh
  scripts/setup/ubuntu-20.04/install_deps.sh
Labels: Area: tools, Cat: CI
