Repository model-checking/kani, pull requests merged in 2023-03, with the labels that each got.

#2205 Goto binary serialization
  .github/workflows/kani.yml
  Cargo.lock
  cprover_bindings/Cargo.toml
  cprover_bindings/src/irep/goto_binary_serde.rs
  cprover_bindings/src/irep/mod.rs
  kani-compiler/Cargo.toml
  kani-compiler/kani_queries/src/lib.rs
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  kani-compiler/src/kani_compiler.rs
  kani-compiler/src/parser.rs
  kani-driver/src/args.rs
  kani-driver/src/call_single_file.rs
  scripts/kani-regression.sh
Labels: [E] Performance, [C] Feature / Enhancement

#2288 Avoid undefined behavior in AnySlice::new()
  library/kani/src/slice.rs
  tests/kani/Slice/slice-drop.rs
Labels: [F] Spurious Failure

#2199 Create `Arbitrary::any_array()`
  library/kani/src/arbitrary.rs
  library/kani/src/lib.rs
  library/kani/src/vec.rs
  tests/expected/object-bits/insufficient/main.rs
Labels: [C] Feature / Enhancement

#2278 Goto binary serde cleanup
  cprover_bindings/src/irep/goto_binary_serde.rs
Labels: [C] Internal

#2272 RFC: The `kani::should_panic` attribute
  rfc/src/SUMMARY.md
  rfc/src/rfcs/0005-should-fail-attr.md
Labels: T-RFC
