Repository model-checking/kani, pull requests merged in 2024-08, with the labels that each got.

#3401 Add missing padding needded for alignment
  kani-compiler/src/codegen_cprover_gotoc/codegen/typ.rs
  tests/cargo-kani/iss2857/Cargo.toml
  tests/cargo-kani/iss2857/expected
  tests/cargo-kani/iss2857/src/main.rs
Labels: Z-BenchCI

#3001 Enable log2*, log10* intrinsics
  docs/src/rust-feature-support/intrinsics.md
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  tests/kani/Intrinsics/Math/Arith/log10.rs
  tests/kani/Intrinsics/Math/Arith/log2.rs
Labels: Z-BenchCI

#2999 Enable powif* intrinsics
  docs/src/rust-feature-support/intrinsics.md
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  tests/kani/Cast/cast_abstract_args_to_concrete.rs
  tests/kani/Cast/cast_abstract_args_to_concrete_fixme.rs
  tests/kani/Intrinsics/Math/Arith/powi.rs
Labels: Z-BenchCI

#3002 Enable fma* intrinsics
  docs/src/rust-feature-support/intrinsics.md
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  tests/kani/Intrinsics/Math/Arith/fma.rs
Labels: Z-BenchCI

#3000 Enable sqrt* intrinsics
  docs/src/rust-feature-support/intrinsics.md
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  tests/kani/Intrinsics/Math/Arith/sqrt.rs
Labels: Z-BenchCI

#3405 Update crates documentation with info. on `#[safety_constraint(...)]` attribute for structs
  library/kani_macros/src/lib.rs
Labels: Z-BenchCI

#3417 Remove assigns clause for ZST pointers
  kani-compiler/src/codegen_cprover_gotoc/codegen/contract.rs
  tests/expected/function-contract/modifies/zst_pass.expected
  tests/expected/function-contract/modifies/zst_pass.rs
  tests/std-checks/core/mem.expected
  tests/std-checks/core/ptr.expected
  tests/std-checks/core/src/mem.rs
  tests/std-checks/core/src/ptr.rs
Labels: Z-BenchCI

#3374 Instrumentation for delayed UB stemming from uninitialized memory
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  kani-compiler/src/kani_middle/mod.rs
  kani-compiler/src/kani_middle/points_to/mod.rs
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  kani-compiler/src/kani_middle/points_to/points_to_graph.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/initial_target_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/instrumentation_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/uninit_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/relevant_instruction.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ty_layout.rs
  kani-compiler/src/kani_middle/transform/internal_mir.rs
  kani-compiler/src/kani_middle/transform/kani_intrinsics.rs
  kani-compiler/src/kani_middle/transform/mod.rs
  kani-compiler/src/main.rs
  tests/expected/uninit/access-padding-via-cast/expected
  tests/expected/uninit/delayed-ub-transmute/delayed-ub-transmute.rs
  tests/expected/uninit/delayed-ub-transmute/expected
  tests/expected/uninit/delayed-ub/delayed-ub.rs
  tests/expected/uninit/delayed-ub/expected
  tests/expected/uninit/intrinsics/expected
Labels: Z-BenchCI

#3416 Update toolchain to 2024-08-05
  kani-compiler/src/codegen_cprover_gotoc/context/goto_ctx.rs
  kani-compiler/src/codegen_cprover_gotoc/utils/names.rs
  kani-compiler/src/kani_middle/transform/body.rs
  rust-toolchain.toml
Labels: Z-BenchCI

#3333 Unify kani library and kani core logic
  Cargo.lock
  library/kani/Cargo.toml
  library/kani/src/arbitrary.rs
  library/kani/src/internal.rs
  library/kani/src/lib.rs
  library/kani/src/mem.rs
  library/kani_core/Cargo.toml
  library/kani_core/src/lib.rs
  library/kani_core/src/mem.rs
  library/kani_macros/Cargo.toml
  tests/expected/function-contract/modifies/check_invalid_modifies.expected
  tests/expected/function-contract/valid_ptr.expected
  tests/script-based-pre/verify_std_cmd/verify_std.sh
  tests/ui/derive-arbitrary/non_arbitrary_param/expected
Labels: [I] Refactoring / Clean Up, Z-BenchCI

#3421 Toolchain update: avoid Javascript interpreting git log
  .github/workflows/toolchain-upgrade.yml
Labels: [I] Refactoring / Clean Up

#3426 Stabilize pointer-to-reference cast validity checks
  .github/workflows/verify-std-check.yml
  kani-compiler/src/args.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  kani-driver/src/call_single_file.rs
  kani_metadata/src/unstable.rs
  tests/expected/dangling-ptr-println/main.rs
  tests/expected/ptr_to_ref_cast/ptr_to_ref_cast.rs
  tests/std-checks/core/Cargo.toml
Labels: Z-BenchCI

#3428 Update depencencies
  Cargo.lock
Labels: Z-BenchCI

#3430 Bump Kani version to 0.54.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cprover_bindings/Cargo.toml
  kani-compiler/Cargo.toml
  kani-driver/Cargo.toml
  kani_metadata/Cargo.toml
  library/kani/Cargo.toml
  library/kani_core/Cargo.toml
  library/kani_macros/Cargo.toml
  library/std/Cargo.toml
  tools/build-kani/Cargo.toml
Labels: Z-BenchCI

#3422 Handle intrinsics systematically
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  kani-compiler/src/intrinsics.rs
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/initial_target_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/uninit_visitor.rs
  kani-compiler/src/main.rs
Labels: Z-BenchCI

#3350 Implement memory initialization state copy functionality
  kani-compiler/src/kani_middle/transform/check_uninit/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/uninit_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/relevant_instruction.rs
  library/kani/src/mem_init.rs
  tests/expected/uninit/copy/copy_without_padding.expected
  tests/expected/uninit/copy/copy_without_padding.rs
  tests/expected/uninit/copy/expose_padding_via_copy.expected
  tests/expected/uninit/copy/expose_padding_via_copy.rs
  tests/expected/uninit/copy/expose_padding_via_copy_convoluted.expected
  tests/expected/uninit/copy/expose_padding_via_copy_convoluted.rs
  tests/expected/uninit/copy/expose_padding_via_non_byte_copy.expected
  tests/expected/uninit/copy/expose_padding_via_non_byte_copy.rs
  tests/expected/uninit/copy/non_byte_copy_without_padding.expected
  tests/expected/uninit/copy/non_byte_copy_without_padding.rs
  tests/expected/uninit/copy/read_after_copy.expected
  tests/expected/uninit/copy/read_after_copy.rs
  tests/expected/uninit/delayed-ub/delayed-ub.rs
  tests/expected/uninit/delayed-ub/expected
  tests/expected/uninit/intrinsics/expected
  tests/expected/uninit/intrinsics/intrinsics.rs
Labels: Z-BenchCI

#3452 Make points-to analysis handle all intrinsics explicitly
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  tests/expected/uninit/intrinsics/expected
Labels: Z-BenchCI

#3443 Add loop scanner to tool-scanner
  Cargo.lock
  tests/script-based-pre/tool-scanner/scanner-test.expected
  tests/script-based-pre/tool-scanner/test.rs
  tools/scanner/Cargo.toml
  tools/scanner/src/analysis.rs
Labels: Z-BenchCI

#3438 Avoid corner-cases by grouping instrumentation into basic blocks and using backward iteration
  kani-compiler/src/kani_middle/transform/body.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/instrumentation_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/uninit_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/relevant_instruction.rs
  kani-compiler/src/kani_middle/transform/kani_intrinsics.rs
  tests/expected/uninit/multiple-instrumentations.expected
  tests/expected/uninit/multiple-instrumentations.rs
Labels: Z-BenchCI

#3449 Re-enabled hierarchical logs in the compiler
  Cargo.lock
  kani-compiler/Cargo.toml
  kani-compiler/src/session.rs
Labels: Z-BenchCI

#3448 Fix ICE due to mishandling of Aggregate rvalue for raw pointers to `str`
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  tests/kani/Str/raw_ptr.rs
  tests/perf/smol_str/Cargo.toml
  tests/perf/smol_str/expected
  tests/perf/smol_str/src/lib.rs
Labels: Z-BenchCI

#3444 Basic support for memory initialization checks for unions
  kani-compiler/src/kani_middle/transform/check_uninit/mod.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ptr_uninit/uninit_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/relevant_instruction.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ty_layout.rs
  kani-compiler/src/kani_middle/transform/kani_intrinsics.rs
  library/kani/src/mem_init.rs
  tests/expected/uninit/fixme_unions.rs
  tests/expected/uninit/intrinsics/expected
  tests/expected/uninit/unions.expected
  tests/expected/uninit/unions.rs
Labels: Z-BenchCI

#3454 Upgrade toolchain to 08/28
  Cargo.toml
  cprover_bindings/Cargo.toml
  kani-compiler/Cargo.toml
  kani-compiler/src/codegen_cprover_gotoc/codegen/typ.rs
  kani-compiler/src/kani_middle/coercion.rs
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  kani-compiler/src/kani_middle/transform/internal_mir.rs
  kani-compiler/src/session.rs
  kani-driver/src/call_cargo.rs
  kani_metadata/Cargo.toml
  library/kani/Cargo.toml
  library/kani_core/Cargo.toml
  library/kani_macros/Cargo.toml
  library/kani_macros/src/lib.rs
  rust-toolchain.toml
  tools/compiletest/Cargo.toml
  tools/scanner/src/bin/scan.rs
Labels: Z-BenchCI

#3419 Extra tests and bug fixes to the delayed UB instrumentation
  kani-compiler/src/kani_middle/points_to/points_to_graph.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/instrumentation_visitor.rs
  kani-compiler/src/kani_middle/transform/check_uninit/delayed_ub/mod.rs
  tests/expected/uninit/delayed-ub-overapprox.expected
  tests/expected/uninit/delayed-ub-overapprox.rs
  tests/std-checks/std/Cargo.toml
  tests/std-checks/std/atomic.expected
  tests/std-checks/std/boxed.expected
  tests/std-checks/std/src/boxed.rs
  tests/std-checks/std/src/lib.rs
  tests/std-checks/std/src/sync/atomic.rs
  tests/std-checks/std/src/sync/mod.rs
Labels: Z-BenchCI

#3468 Upgrade Toolchain to 8/29
  kani-compiler/src/codegen_cprover_gotoc/codegen/assert.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/function.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/statement.rs
  rust-toolchain.toml
Labels: Z-BenchCI

#3406 Stacked Borrows in Kani
  kani-compiler/src/args.rs
  kani-compiler/src/kani_middle/mod.rs
  kani-compiler/src/kani_middle/reachability.rs
  kani-compiler/src/kani_middle/transform/body.rs
  kani-compiler/src/kani_middle/transform/check_aliasing/function_cache.rs
  kani-compiler/src/kani_middle/transform/check_aliasing/instrumentation.rs
  kani-compiler/src/kani_middle/transform/check_aliasing/mod.rs
  kani-compiler/src/kani_middle/transform/check_aliasing/visitor.rs
  kani-compiler/src/kani_middle/transform/mod.rs
  kani-driver/src/call_single_file.rs
  kani_metadata/src/unstable.rs
  library/kani/src/aliasing.rs
  library/kani/src/lib.rs
  tests/expected/aliasing/box.rs.fixme
  tests/expected/aliasing/control_flow.expected
  tests/expected/aliasing/control_flow.rs
  tests/expected/aliasing/duplicate_write.expected
  tests/expected/aliasing/duplicate_write.rs
  tests/expected/aliasing/duplicate_write_compressed.expected
  tests/expected/aliasing/duplicate_write_compressed.rs
Labels: [C] Feature / Enhancement, Z-BenchCI

#3457 Extend name resolution to support qualified paths (Partial Fix)
  Cargo.lock
  kani-compiler/Cargo.toml
  kani-compiler/src/kani_middle/attributes.rs
  kani-compiler/src/kani_middle/mod.rs
  kani-compiler/src/kani_middle/resolve.rs
  kani-compiler/src/main.rs
  tests/ui/function-stubbing-error/invalid_stub_args.expected
  tests/ui/function-stubbing-error/invalid_stub_args.rs
  tests/ui/function-stubbing-error/unsupported_resolutions.expected
  tests/ui/function-stubbing-error/unsupported_resolutions.rs
  tests/ui/invalid-attribute/expected
Labels: Z-BenchCI

#3470 Partially integrate uninit memory checks into `verify_std`
  library/kani/src/lib.rs
  library/kani/src/mem_init.rs
  library/kani_core/src/lib.rs
  library/kani_core/src/mem_init.rs
  tests/script-based-pre/verify_std_cmd/verify_core.rs
  tests/script-based-pre/verify_std_cmd/verify_std.expected
  tests/script-based-pre/verify_std_cmd/verify_std.sh
Labels: Z-BenchCI
