Repository model-checking/kani, pull requests merged in 2024-10, with the labels that each got.

#3538 Add experimental API to generate arbitrary pointers
  library/kani_core/src/arbitrary.rs
  library/kani_core/src/arbitrary/pointer.rs
  library/kani_macros/src/derive.rs
  tests/expected/arbitrary/ptrs/pointer_generator.expected
  tests/expected/arbitrary/ptrs/pointer_generator.rs
  tests/expected/arbitrary/ptrs/pointer_generator_error.expected
  tests/expected/arbitrary/ptrs/pointer_generator_error.rs
  tests/expected/arbitrary/ptrs/pointer_inbounds.expected
  tests/expected/arbitrary/ptrs/pointer_inbounds.rs
  tests/script-based-pre/verify_std_cmd/verify_core.rs
  tests/script-based-pre/verify_std_cmd/verify_std.expected
  tests/script-based-pre/verify_std_cmd/verify_std.sh
  tests/ui/arbitrary-ptr-doc/doc_examples.expected
  tests/ui/arbitrary-ptr-doc/doc_examples.rs
Labels: Z-BenchCI

#3576 Fix issue when linking rlib + another library type
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  tests/cargo-ui/supported-lib-types/cdylib-rlib/Cargo.toml
  tests/cargo-ui/supported-lib-types/cdylib-rlib/expected
Labels: Z-BenchCI

#3581 Bump Kani version to 0.56.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cprover_bindings/Cargo.toml
  kani-compiler/Cargo.toml
  kani-driver/Cargo.toml
  kani_metadata/Cargo.toml
  library/kani/Cargo.toml
  library/kani_core/Cargo.toml
  library/kani_macros/Cargo.toml
  library/std/Cargo.toml
  tools/build-kani/Cargo.toml
Labels: Z-BenchCI

#3584 Fix the computation of the number of bytes of a pointer offset
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  tests/expected/offset-from-bytes-overflow/expected
  tests/expected/offset-overflow/expected
  tests/expected/offset-overflow/main.rs
  tests/expected/ptr-offset-overflow/expected
  tests/expected/ptr-offset-overflow/main.rs
Labels: Z-BenchCI

#3523 List Subcommand (Implementation)
  Cargo.lock
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  kani-compiler/src/kani_middle/codegen_units.rs
  kani-compiler/src/kani_middle/metadata.rs
  kani-driver/Cargo.toml
  kani-driver/src/args/list_args.rs
  kani-driver/src/args/mod.rs
  kani-driver/src/list/collect_metadata.rs
  kani-driver/src/list/mod.rs
  kani-driver/src/list/output.rs
  kani-driver/src/main.rs
  kani-driver/src/metadata.rs
  kani-driver/src/version.rs
  kani_metadata/src/lib.rs
  kani_metadata/src/unstable.rs
  rfc/src/rfcs/0013-list.md
  tests/script-based-pre/cargo_list/Cargo.toml
  tests/script-based-pre/cargo_list/config.yml
  tests/script-based-pre/cargo_list/list.expected
  tests/script-based-pre/cargo_list/list.sh
  tests/script-based-pre/cargo_list/src/lib.rs
  tests/script-based-pre/cargo_list/src/standard_harnesses.rs
  tests/script-based-pre/kani_list/config.yml
  tests/script-based-pre/kani_list/list.expected
  tests/script-based-pre/kani_list/list.sh
  tests/script-based-pre/kani_list/src/lib.rs
Labels: Z-BenchCI

#3589 Remove the overflow checks for wrapping_offset
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  tests/expected/arith-offset-overflow/expected
  tests/expected/arith-offset-overflow/main.rs
  tests/expected/offset-overflow/expected
  tests/expected/offset-overflow/main.rs
  tests/expected/ptr-offset-overflow-bytes/expected
  tests/expected/ptr-offset-overflow-bytes/main.rs
  tests/expected/wrapping-offset-bytes-overflow/expected
  tests/expected/wrapping-offset-bytes-overflow/main.rs
Labels: Z-BenchCI

#3121 `kani-cov`: A coverage tool for Kani
  Cargo.lock
  Cargo.toml
  scripts/kani-regression.sh
  tests/coverage/abort/expected
  tests/coverage/assert/expected
  tests/coverage/assert_eq/expected
  tests/coverage/assert_ne/expected
  tests/coverage/break/expected
  tests/coverage/compare/expected
  tests/coverage/contradiction/expected
  tests/coverage/debug-assert/expected
  tests/coverage/div-zero/expected
  tests/coverage/early-return/expected
  tests/coverage/if-statement-multi/expected
  tests/coverage/if-statement/expected
  tests/coverage/known_issues/assert_uncovered_end/expected
  tests/coverage/known_issues/assume_assert/expected
  tests/coverage/known_issues/out-of-bounds/expected
  tests/coverage/known_issues/variant/expected
  tests/coverage/multiple-harnesses/expected
  tests/coverage/overflow-failure/expected
  tests/coverage/overflow-full-coverage/expected
  tests/coverage/while-loop-break/expected
  tools/compiletest/src/runtest.rs
  tools/kani-cov/Cargo.toml
  tools/kani-cov/src/args.rs
  tools/kani-cov/src/coverage.rs
  tools/kani-cov/src/main.rs
  tools/kani-cov/src/merge.rs
  tools/kani-cov/src/report.rs
  tools/kani-cov/src/summary.rs
Labels: [E] User Experience, Z-BenchCI

#3580 Exclude Charon from workspace
  .github/workflows/format-check.yml
  deny.toml
  rustfmt.toml
Labels: Z-BenchCI

#3151 Loop Contracts Annotation for While-Loop
  cprover_bindings/src/goto_program/stmt.rs
  cprover_bindings/src/irep/to_irep.rs
  kani-compiler/src/codegen_cprover_gotoc/overrides/hooks.rs
  kani-compiler/src/kani_middle/transform/body.rs
  kani-compiler/src/kani_middle/transform/loop_contracts.rs
  kani-compiler/src/kani_middle/transform/mod.rs
  kani-driver/src/call_goto_instrument.rs
  kani-driver/src/cbmc_property_renderer.rs
  kani_metadata/src/unstable.rs
  library/kani_core/src/lib.rs
  library/kani_macros/src/lib.rs
  library/kani_macros/src/sysroot/loop_contracts/mod.rs
  tests/expected/loop-contract/count_zero.expected
  tests/expected/loop-contract/count_zero.rs
  tests/expected/loop-contract/count_zero_loop_contracts_disable.expected
  tests/expected/loop-contract/count_zero_loop_contracts_disable.rs
  tests/expected/loop-contract/fixme_box.expected
  tests/expected/loop-contract/fixme_box.rs
  tests/expected/loop-contract/memchar_naive.expected
  tests/expected/loop-contract/memchar_naive.rs
  tests/expected/loop-contract/multiple_loops.expected
  tests/expected/loop-contract/multiple_loops.rs
  tests/expected/loop-contract/simple_while_loop.expected
  tests/expected/loop-contract/simple_while_loop.rs
  tests/expected/loop-contract/small_slice_eq.expected
  tests/expected/loop-contract/small_slice_eq.rs
Labels: Z-BenchCI, submodules, Z-Contracts

#3605 Update toolchain to 2024-10-15
  rust-toolchain.toml
Labels: Z-BenchCI

#3610 Update toolchain to 2024-10-17
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  rust-toolchain.toml
Labels: Z-BenchCI

#3583 Add fn that checks pointers point to same allocation
  library/kani_core/src/mem.rs
  tests/expected/shadow/unsupported_num_objects/test.rs
  tests/kani/MemPredicates/same_allocation.rs
Labels: Z-BenchCI

#3560 [aeneas] Preserve variable names
  kani-compiler/src/codegen_aeneas_llbc/mir_to_ullbc/mod.rs
  tests/expected/llbc/basic0/expected
  tests/expected/llbc/basic1/expected
Labels: Z-BenchCI

#3614 [Breaking change] Make `kani::check` private
  library/kani/src/lib.rs
  library/kani_core/src/lib.rs
  library/kani_core/src/mem.rs
  tests/ui/check_deprecated/deprecated_warning.expected
  tests/ui/check_deprecated/deprecated_warning.rs
Labels: Z-BenchCI

#3609 Emit an error when proof_for_contract function is not found
  kani-compiler/src/kani_middle/attributes.rs
  kani-compiler/src/kani_middle/mod.rs
  tests/ui/unknown-contract-harness/expected
  tests/ui/unknown-contract-harness/test.rs
Labels: Z-BenchCI

#3637 Add `free(0)` to codegen of loop contracts
  kani-compiler/src/codegen_cprover_gotoc/overrides/hooks.rs
  tests/expected/loop-contract/count_zero.rs
  tests/expected/loop-contract/memchar_naive.rs
  tests/expected/loop-contract/multiple_loops.rs
  tests/expected/loop-contract/simple_while_loop.rs
  tests/expected/loop-contract/small_slice_eq.rs
Labels: Z-BenchCI

#3630 [Lean] Rename user-facing options from Aeneas to Lean
  kani-compiler/Cargo.toml
  kani-compiler/src/args.rs
  kani-compiler/src/kani_compiler.rs
  kani-compiler/src/main.rs
  kani-driver/src/args/mod.rs
  kani-driver/src/call_single_file.rs
  kani_metadata/src/unstable.rs
  tests/expected/llbc/basic0/test.rs
  tests/expected/llbc/basic1/test.rs
Labels: Z-BenchCI

#3636 Fix ICE due to mishandling of Aggregate rvalue for raw pointers to trait objects
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  tests/kani/CodegenAggregateRawPtrTraitObject/main.rs
Labels: Z-BenchCI

#3371 Add regular & fixme tests for function contracts
  tests/kani/FunctionContracts/fixme_receiver_contracts.rs
  tests/kani/FunctionContracts/fn_params.rs
  tests/kani/FunctionContracts/modify_slice_elem.rs
Labels: Z-Contracts

#3648 Update toolchain to 10/25
  kani-compiler/src/kani_middle/stubbing/mod.rs
  kani-compiler/src/kani_middle/transform/stubs.rs
  rust-toolchain.toml
Labels: Z-BenchCI

#3646 Move any_slice_from_array to kani_core
  library/kani/src/lib.rs
  library/kani/src/slice.rs
  library/kani_core/src/arbitrary.rs
  library/kani_core/src/arbitrary/slice.rs
Labels: Z-BenchCI

#3658 Upgrade toolchain to 2024-10-29
  kani-compiler/src/codegen_cprover_gotoc/codegen/typ.rs
  rust-toolchain.toml
Labels: Z-BenchCI

#3649 Add a timeout option
  Cargo.lock
  kani-driver/Cargo.toml
  kani-driver/src/args/mod.rs
  kani-driver/src/assess/table_failure_reasons.rs
  kani-driver/src/call_cbmc.rs
  kani-driver/src/cbmc_output_parser.rs
  kani-driver/src/session.rs
  tests/.gitignore
  tests/ui/harness-timeout/hours.expected
  tests/ui/harness-timeout/hours.rs
  tests/ui/harness-timeout/invalid.expected
  tests/ui/harness-timeout/invalid.rs
  tests/ui/harness-timeout/minutes.expected
  tests/ui/harness-timeout/minutes.rs
  tests/ui/harness-timeout/no_timeout.expected
  tests/ui/harness-timeout/no_timeout.rs
  tests/ui/harness-timeout/timeout.expected
  tests/ui/harness-timeout/timeout.rs
Labels: Z-BenchCI

#3661 Upgrade toolchain to 2024-10-30
  rust-toolchain.toml
  tests/ui/derive-arbitrary/non_arbitrary_param/expected
Labels: Z-BenchCI
