Repository model-checking/kani, pull requests merged in 2024-06, with the labels that each got.

#3200 Add simple API for shadow memory
  kani-compiler/src/codegen_cprover_gotoc/overrides/hooks.rs
  kani_metadata/src/unstable.rs
  library/kani/src/lib.rs
  library/kani/src/mem.rs
  library/kani/src/shadow.rs
  tests/expected/shadow/uninit_array/expected
  tests/expected/shadow/uninit_array/test.rs
  tests/expected/shadow/unsupported_num_objects/expected
  tests/expected/shadow/unsupported_num_objects/test.rs
  tests/expected/shadow/unsupported_object_size/expected
  tests/expected/shadow/unsupported_object_size/test.rs
Labels: Z-BenchCI

#3227 Add `kani_core` library placeholder and build logic
  Cargo.lock
  Cargo.toml
  library/kani_core/Cargo.toml
  library/kani_core/src/lib.rs
  library/kani_macros/Cargo.toml
  tools/build-kani/src/main.rs
  tools/build-kani/src/parser.rs
  tools/build-kani/src/sysroot.rs
Labels: Z-BenchCI

#3190 (Re)introduce `Invariant` trait
  library/kani/src/arbitrary.rs
  library/kani/src/invariant.rs
  library/kani/src/lib.rs
  tests/kani/Invariant/invariant_impls.rs
  tests/kani/Invariant/percentage.rs
Labels: Z-BenchCI

#3233 Remove empty box creation from contracts impl
  kani-compiler/src/codegen_cprover_gotoc/overrides/hooks.rs
  library/kani/src/internal.rs
  library/kani_macros/src/sysroot/contracts/mod.rs
Labels: Z-BenchCI

#3231 Add a new verify-std subcommand to Kani
  kani-compiler/src/kani_middle/intrinsics.rs
  kani-driver/src/args/mod.rs
  kani-driver/src/args/std_args.rs
  kani-driver/src/call_cargo.rs
  kani-driver/src/call_single_file.rs
  kani-driver/src/concrete_playback/playback.rs
  kani-driver/src/main.rs
  kani-driver/src/project.rs
  kani-driver/src/session.rs
  kani_metadata/src/unstable.rs
  library/kani_core/src/lib.rs
  tools/build-kani/src/main.rs
Labels: Z-BenchCI

#3221 Inject pointer validity check when casting raw pointers to references
  kani-compiler/src/args.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/assert.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/statement.rs
  kani-driver/src/call_single_file.rs
  kani_metadata/src/unstable.rs
  tests/expected/ptr_to_ref_cast/expected
  tests/expected/ptr_to_ref_cast/ptr_to_ref_cast.rs
  tests/std-checks/core/Cargo.toml
  tests/std-checks/core/ptr.expected
Labels: Z-BenchCI

#3247 Fix "unused mut" warnings created by generated code.
  library/kani_macros/src/sysroot/contracts/bootstrap.rs
  library/kani_macros/src/sysroot/contracts/shared.rs
  tests/expected/function-contract/gcd_success.rs
Labels: Z-BenchCI

#3245 Refactor stubbing so Kani compiler only invoke rustc once per crate
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  kani-compiler/src/kani_compiler.rs
  kani-compiler/src/kani_middle/attributes.rs
  kani-compiler/src/kani_middle/codegen_units.rs
  kani-compiler/src/kani_middle/metadata.rs
  kani-compiler/src/kani_middle/mod.rs
  kani-compiler/src/kani_middle/provide.rs
  kani-compiler/src/kani_middle/reachability.rs
  kani-compiler/src/kani_middle/stubbing/annotations.rs
  kani-compiler/src/kani_middle/stubbing/mod.rs
  kani-compiler/src/kani_middle/stubbing/transform.rs
  kani-compiler/src/kani_middle/transform/body.rs
  kani-compiler/src/kani_middle/transform/check_values.rs
  kani-compiler/src/kani_middle/transform/contracts.rs
  kani-compiler/src/kani_middle/transform/mod.rs
  kani-compiler/src/kani_middle/transform/stubs.rs
  kani-compiler/src/kani_queries/mod.rs
  tests/cargo-kani/stubbing-double-extern-path/harness/expected
  tests/expected/function-contract/modifies/check_invalid_modifies.expected
  tests/expected/issue-2589/issue_2589.expected
  tests/expected/stubbing-different-sets/stubbing.expected
  tests/expected/stubbing-different-sets/stubbing.rs
  tests/script-based-pre/stubbing_compiler_sessions/check_compiler_sessions.expected
  tests/script-based-pre/stubbing_compiler_sessions/check_compiler_sessions.sh
  tests/script-based-pre/stubbing_compiler_sessions/config.yml
  tests/script-based-pre/verify_std_cmd/verify_std.expected
  tests/script-based-pre/verify_std_cmd/verify_std.sh
  tests/ui/stubbing/stubbing-type-validation/expected
Labels: Z-BenchCI

#3244 Use cfg=kani_host for host crates
  docs/src/usage.md
  kani-driver/src/call_cargo.rs
  tests/cargo-kani/build-rs-plus-host-with-kani-proofs/README.md
  tests/cargo-kani/build-rs-plus-host-with-kani-proofs/binary/Cargo.toml
  tests/cargo-kani/build-rs-plus-host-with-kani-proofs/binary/build.rs
  tests/cargo-kani/build-rs-plus-host-with-kani-proofs/binary/src/main.rs
  tests/cargo-kani/build-rs-plus-host-with-kani-proofs/constants/Cargo.toml
  tests/cargo-kani/build-rs-plus-host-with-kani-proofs/constants/src/lib.rs
  tests/cargo-ui/unsupported-lib-types/proc-macro/expected
  tests/script-based-pre/build-rs-conditional/Cargo.toml
  tests/script-based-pre/build-rs-conditional/build.rs
Labels: T-High Priority, T-User

#3230 Add intrinsics and Arbitrary support for no_core
  Cargo.lock
  kani-compiler/src/codegen_cprover_gotoc/codegen/contract.rs
  kani-driver/src/args_toml.rs
  library/kani/build.rs
  library/kani_core/Cargo.toml
  library/kani_core/src/arbitrary.rs
  library/kani_core/src/lib.rs
  library/kani_macros/src/sysroot/contracts/shared.rs
  tests/script-based-pre/verify_std_cmd/verify_std.expected
  tests/script-based-pre/verify_std_cmd/verify_std.sh
  tools/build-kani/src/sysroot.rs
Labels: Z-BenchCI

#3225 Update the rust toolchain to nightly-2024-06-11
  Cargo.lock
  cprover_bindings/Cargo.toml
  kani-compiler/Cargo.toml
  kani-compiler/src/codegen_cprover_gotoc/codegen/operand.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/typ.rs
  kani-compiler/src/codegen_cprover_gotoc/utils/utils.rs
  kani-compiler/src/kani_middle/attributes.rs
  kani-compiler/src/kani_middle/reachability.rs
  kani-compiler/src/kani_middle/transform/body.rs
  kani-compiler/src/kani_middle/transform/check_values.rs
  kani-compiler/src/kani_middle/transform/contracts.rs
  kani-compiler/src/kani_middle/transform/kani_intrinsics.rs
  kani-compiler/src/kani_middle/transform/stubs.rs
  rust-toolchain.toml
  tests/kani/FatPointers/metadata.rs
  tools/build-kani/src/sysroot.rs
Labels: Z-BenchCI

#3255 Fix a few issues with std verification
  kani-driver/src/call_cargo.rs
  library/kani_core/src/lib.rs
  library/kani_core/src/mem.rs
  library/kani_macros/src/sysroot/contracts/bootstrap.rs
  library/kani_macros/src/sysroot/contracts/check.rs
  library/kani_macros/src/sysroot/contracts/mod.rs
  library/kani_macros/src/sysroot/contracts/replace.rs
  library/kani_macros/src/sysroot/contracts/shared.rs
  tests/expected/function-contract/const_fn.expected
  tests/expected/function-contract/const_fn.rs
  tests/script-based-pre/verify_std_cmd/verify_std.sh
  tools/build-kani/src/sysroot.rs
Labels: Z-BenchCI

#3259 Fix contract of constant fn with effect feature
  kani-compiler/src/kani_middle/stubbing/mod.rs
  kani-compiler/src/kani_middle/transform/stubs.rs
  tests/expected/function-contract/const_fn_with_effect.expected
  tests/expected/function-contract/const_fn_with_effect.rs
  tests/script-based-pre/verify_std_cmd/verify_std.expected
  tests/script-based-pre/verify_std_cmd/verify_std.sh
Labels: Z-BenchCI

#3261 Fix a few more issues with the std library
  kani-compiler/src/codegen_cprover_gotoc/codegen/operand.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/statement.rs
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  kani-compiler/src/kani_middle/attributes.rs
  kani-compiler/src/kani_middle/mod.rs
  kani-compiler/src/kani_middle/reachability.rs
  library/kani/src/lib.rs
  library/kani_core/src/arbitrary.rs
  library/kani_core/src/lib.rs
  library/kani_macros/src/lib.rs
  library/kani_macros/src/sysroot/contracts/shared.rs
  tests/cargo-ui/unstable-attr/defs/src/lib.rs
  tests/cargo-ui/unstable-attr/invalid/expected
  tests/cargo-ui/unstable-attr/invalid/src/lib.rs
Labels: Z-BenchCI

#3256 Fix typed_swap for ZSTs
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  tests/kani/Intrinsics/typed_swap.rs
  tests/std-checks/core/src/mem.rs
Labels: Z-BenchCI

#3253 Remove further uses of Location::none
  cprover_bindings/src/goto_program/expr.rs
  cprover_bindings/src/irep/to_irep.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/assert.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/contract.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/foreign_function.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/operand.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/place.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/span.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/statement.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/static_var.rs
  kani-compiler/src/codegen_cprover_gotoc/context/goto_ctx.rs
  kani-compiler/src/codegen_cprover_gotoc/overrides/hooks.rs
  kani-driver/src/cbmc_property_renderer.rs
  tests/cargo-kani/simple-extern/src/lib.rs
Labels: Z-BenchCI

#3250 Add a `#[derive(Invariant)]` macro
  library/kani_macros/src/derive.rs
  library/kani_macros/src/lib.rs
  tests/expected/derive-invariant/empty_struct/empty_struct.rs
  tests/expected/derive-invariant/empty_struct/expected
  tests/expected/derive-invariant/generic_struct/expected
  tests/expected/derive-invariant/generic_struct/generic_struct.rs
  tests/expected/derive-invariant/invariant_fail/expected
  tests/expected/derive-invariant/invariant_fail/invariant_fail.rs
  tests/expected/derive-invariant/named_struct/expected
  tests/expected/derive-invariant/named_struct/named_struct.rs
  tests/expected/derive-invariant/unnamed_struct/expected
  tests/expected/derive-invariant/unnamed_struct/unnamed_struct.rs
Labels: Z-BenchCI

#3266 Use GitHub's M1 macOS runner
  .github/workflows/kani-m1.yml
  .github/workflows/kani.yml
  .github/workflows/release.yml
  scripts/setup/macos-14
Labels: [I] CI / Infrastructure

#3271 Upgrade Rust toolchain to nightly-2024-06-17
  kani-compiler/src/codegen_cprover_gotoc/codegen/operand.rs
  kani-compiler/src/kani_middle/reachability.rs
  kani-compiler/src/kani_middle/stubbing/mod.rs
  kani-compiler/src/kani_middle/transform/body.rs
  kani-compiler/src/kani_middle/transform/check_values.rs
  kani-compiler/src/kani_middle/transform/contracts.rs
  kani-compiler/src/kani_middle/transform/kani_intrinsics.rs
  kani-compiler/src/kani_middle/transform/stubs.rs
  kani-driver/src/call_single_file.rs
  rust-toolchain.toml
  scripts/kani-regression.sh
Labels: Z-BenchCI

#3232 Contracts: History Expressions via "old" monad
  library/kani/src/contracts.rs
  library/kani_macros/Cargo.toml
  library/kani_macros/src/sysroot/contracts/check.rs
  library/kani_macros/src/sysroot/contracts/helpers.rs
  library/kani_macros/src/sysroot/contracts/initialize.rs
  library/kani_macros/src/sysroot/contracts/mod.rs
  library/kani_macros/src/sysroot/contracts/replace.rs
  library/kani_macros/src/sysroot/contracts/shared.rs
  rfc/src/rfcs/0009-function-contracts.md
  tests/expected/function-contract/history/block.expected
  tests/expected/function-contract/history/block.rs
  tests/expected/function-contract/history/clone_pass.expected
  tests/expected/function-contract/history/clone_pass.rs
  tests/expected/function-contract/history/copy_pass.expected
  tests/expected/function-contract/history/copy_pass.rs
  tests/expected/function-contract/history/function_call.expected
  tests/expected/function-contract/history/function_call.rs
  tests/expected/function-contract/history/no_modifies.expected
  tests/expected/function-contract/history/no_modifies.rs
  tests/expected/function-contract/history/old_old.expected
  tests/expected/function-contract/history/old_old.rs
  tests/expected/function-contract/history/side_effect.expected
  tests/expected/function-contract/history/side_effect.rs
  tests/expected/function-contract/history/simple_fail.expected
  tests/expected/function-contract/history/simple_fail.rs
  tests/expected/function-contract/history/simple_pass.expected
  tests/expected/function-contract/history/simple_pass.rs
  tests/expected/function-contract/history/simple_pass_twice.expected
  tests/expected/function-contract/history/simple_pass_twice.rs
  tests/expected/function-contract/history/stub.expected
  tests/expected/function-contract/history/stub.rs
  tests/expected/function-contract/history/ui/no_args.expected
  tests/expected/function-contract/history/ui/no_args.rs
  tests/expected/function-contract/history/ui/noncopy_ignore.expected
  tests/expected/function-contract/history/ui/noncopy_ignore.rs
  tests/expected/function-contract/history/ui/old_result.expected
  tests/expected/function-contract/history/ui/old_result.rs
  tests/expected/function-contract/history/ui/statement.expected
  tests/expected/function-contract/history/ui/statement.rs
Labels: Z-BenchCI

#3274 Function Contracts: remove instances of _renamed
  library/kani_macros/src/sysroot/contracts/check.rs
  library/kani_macros/src/sysroot/contracts/mod.rs
  library/kani_macros/src/sysroot/contracts/replace.rs
  library/kani_macros/src/sysroot/contracts/shared.rs
  tests/expected/function-contract/modifies/field_replace_pass.rs
Labels: Z-BenchCI

#3276 Fix `--emit mir` handling of constants
  kani-compiler/src/kani_middle/mod.rs
Labels: Z-BenchCI

#3278 Remove support for the unstable argument `--function`
  kani-compiler/src/codegen_cprover_gotoc/codegen/contract.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/foreign_function.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/function.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/operand.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/ty_stable.rs
  kani-compiler/src/codegen_cprover_gotoc/compiler_interface.rs
  kani-compiler/src/codegen_cprover_gotoc/context/current_fn.rs
  kani-compiler/src/codegen_cprover_gotoc/utils/names.rs
  kani-compiler/src/kani_middle/metadata.rs
  kani-driver/src/args/mod.rs
  kani-driver/src/assess/mod.rs
  kani-driver/src/call_cbmc.rs
  kani-driver/src/call_single_file.rs
  kani-driver/src/harness_runner.rs
  kani-driver/src/metadata.rs
  kani-driver/src/project.rs
  kani-driver/src/session.rs
  tests/cargo-ui/function/Cargo.toml
  tests/cargo-ui/function/expected
  tests/cargo-ui/function/src/lib.rs
  tests/expected/associated-fn/associated_fn.rs
  tests/expected/associated-fn/expected
  tests/kani/Static/pub_static.rs
  tests/script-based-pre/check-output/check-output.sh
  tests/ui/entry-fn/main/function.rs
  tests/ui/entry-fn/non-main/function.rs
  tests/ui/invalid-cbmc-function-arg/expected
Labels: Z-BenchCI

#3282 Upgrade Rust toolchain to nightly-2024-06-21
  kani-compiler/src/kani_middle/attributes.rs
  rust-toolchain.toml
Labels: Z-BenchCI

#3242 RFC: Quantifiers
  rfc/src/SUMMARY.md
  rfc/src/rfcs/0010-quantifiers.md
Labels: T-RFC

#3297 Fix operand in fat pointer comparison
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
Labels: Z-BenchCI

#3296 C library: declare malloc
  library/kani/kani_lib.c
Labels: Z-BenchCI

#3299 Upgrade rust toolchain to 06-26
  kani-compiler/src/kani_middle/intrinsics.rs
  rust-toolchain.toml
Labels: Z-BenchCI
