Repository model-checking/kani, pull requests merged in 2025-01, with the labels that each got.

#3810 Upgrade toolchain to 2024-12-19
  rust-toolchain.toml
Labels: Z-BenchCI

#3757 Add UB checks for ptr_offset_from* intrinsics
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  kani-compiler/src/kani_middle/kani_functions.rs
  kani-compiler/src/kani_middle/transform/rustc_intrinsics.rs
  kani-driver/src/cbmc_property_renderer.rs
  library/kani_core/src/models.rs
  tests/expected/arbitrary/ptrs/pointer_inbounds.rs
  tests/expected/intrinsics/offset-same-object/expected
  tests/expected/intrinsics/ptr_offset_from_unsigned/expected
  tests/expected/offset-bounds-check/offset_from.expected
  tests/expected/offset-bounds-check/offset_from.rs
  tests/expected/offset-bounds-check/sub_ptr.expected
  tests/expected/offset-bounds-check/sub_ptr.rs
  tests/expected/offset-from-distance-check/expected
  tests/expected/offset-from-distance-check/main.rs
  tests/expected/offset-wraps-around/expected
  tests/kani/PointerOffset/offset_from_vec.rs
Labels: Z-BenchCI

#3814 Toolchain update 06-01-2025
  docs/src/rust-feature-support/intrinsics.md
  kani-compiler/src/codegen_cprover_gotoc/codegen/assert.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/function.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/intrinsic.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/mod.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/place.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/source_region.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/statement.rs
  kani-compiler/src/codegen_cprover_gotoc/codegen/typ.rs
  kani-compiler/src/intrinsics.rs
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  kani-compiler/src/kani_middle/transform/check_uninit/ty_layout.rs
  kani-compiler/src/kani_middle/transform/check_values.rs
  kani-compiler/src/kani_middle/transform/internal_mir.rs
  kani-compiler/src/main.rs
  rust-toolchain.toml
  tests/expected/uninit/intrinsics/expected
  tests/expected/uninit/intrinsics/intrinsics.rs
  tests/kani/Intrinsics/typed_swap_nonoverlapping.rs
  tools/compiletest/src/main.rs
Labels: Z-BenchCI

#3807 Update LLBC backend for Trait support and translation of projection
  kani-compiler/src/codegen_aeneas_llbc/compiler_interface.rs
  kani-compiler/src/codegen_aeneas_llbc/mir_to_ullbc/mod.rs
  tests/expected/llbc/option/expected
  tests/expected/llbc/option/test.rs
  tests/expected/llbc/traitimpl/expected
  tests/expected/llbc/traitimpl/test.rs
Labels: Z-BenchCI

#3822 Bump Kani version to 0.58.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cprover_bindings/Cargo.toml
  kani-compiler/Cargo.toml
  kani-driver/Cargo.toml
  kani_metadata/Cargo.toml
  library/kani/Cargo.toml
  library/kani_core/Cargo.toml
  library/kani_macros/Cargo.toml
  library/std/Cargo.toml
  tools/build-kani/Cargo.toml
Labels: Z-BenchCI

#3829 Verify contracts/stubs for generic types with multiple inherent implementations
  kani-compiler/src/kani_middle/attributes.rs
  kani-compiler/src/kani_middle/resolve.rs
  tests/kani/FunctionContracts/multiple_inherent_impls.rs
  tests/ui/function-contracts/invalid_target_path.expected
  tests/ui/function-contracts/invalid_target_path.rs
  tests/ui/stubbing/invalid-path/invalid_inherent_impls.expected
  tests/ui/stubbing/invalid-path/invalid_inherent_impls.rs
  tests/ui/stubbing/invalid-path/invalid_mod.expected
  tests/ui/stubbing/invalid-path/invalid_mod.rs
Labels: Z-BenchCI

#3835 Upgrade toolchain to 2025-01-15
  rust-toolchain.toml
Labels: Z-BenchCI

#3838 Use fully-qualified name for size_of
  Cargo.toml
  library/kani_core/src/arbitrary/pointer.rs
  tests/script-based-pre/kani_lib_dep/Cargo.toml
  tests/script-based-pre/kani_lib_dep/build.sh
  tests/script-based-pre/kani_lib_dep/config.yml
  tests/script-based-pre/kani_lib_dep/expected
  tests/script-based-pre/kani_lib_dep/src/main.rs
Labels: Z-BenchCI

#3843 Upgrade toolchain to nightly-2025-01-22
  kani-compiler/src/kani_middle/points_to/points_to_analysis.rs
  kani-compiler/src/main.rs
  rust-toolchain.toml
  tests/expected/function-contract/valid_ptr.expected
  tests/expected/function-contract/valid_ptr.rs
Labels: Z-BenchCI

#3845 Remove `DefKind::Ctor` from filtering crate items
  kani-compiler/src/kani_middle/reachability.rs
Labels: Z-BenchCI

#3853 Fix validity checks for `char`
  kani-compiler/src/kani_middle/transform/check_values.rs
  tests/expected/valid-value-checks/char_validity.expected
  tests/expected/valid-value-checks/char_validity.rs
Labels: Z-BenchCI

#3859 Deprecate `--enable-unstable` and `--restrict-vtable`
  kani-compiler/src/kani_middle/mod.rs
  kani-driver/src/args/common.rs
  kani-driver/src/args/mod.rs
  kani-driver/src/assess/mod.rs
  kani-driver/src/assess/scan.rs
  kani-driver/src/cbmc_property_renderer.rs
  kani_metadata/src/unstable.rs
  scripts/assess-scan-regression.sh
  scripts/exps/assess-scan-on-repos.sh
  tests/cargo-kani/asm/global_error/doesnt_call_crate_with_global_asm.expected
  tests/cargo-kani/assess-artifacts/Cargo.toml
  tests/cargo-kani/assess-workspace-artifacts/Cargo.toml
  tests/cargo-kani/simple-config-toml/Cargo.toml
  tests/cargo-kani/simple-kissat/Cargo.toml
  tests/cargo-ui/assess-error/Cargo.toml
  tests/expected/function-contract/history/stub.rs
  tests/expected/function-contract/interior-mutability/whole-struct/refcell.rs
  tests/expected/loop-contract/multiple_loops.rs
  tests/expected/loop-contract/small_slice_eq.rs
  tests/expected/object-bits/insufficient/expected
  tests/expected/object-bits/insufficient/main.rs
  tests/expected/unwind-flags-conflict/main.rs
  tests/firecracker/virtio-balloon-compact/ignore-main.rs
  tests/kani/DynTrait/any_cast_int.rs
  tests/kani/DynTrait/vtable_restrictions.rs
  tests/kani/Overflow/pointer_overflow_fail.rs
  tests/ui/concrete-playback/array/main.rs
  tests/ui/concrete-playback/bool/main.rs
  tests/ui/concrete-playback/cover/main.rs
  tests/ui/concrete-playback/custom/main.rs
  tests/ui/concrete-playback/f32/main.rs
  tests/ui/concrete-playback/f64/main.rs
  tests/ui/concrete-playback/i128/main.rs
  tests/ui/concrete-playback/i16/main.rs
  tests/ui/concrete-playback/i32/main.rs
  tests/ui/concrete-playback/i64/main.rs
  tests/ui/concrete-playback/i8/main.rs
  tests/ui/concrete-playback/isize/main.rs
  tests/ui/concrete-playback/mult-harnesses/main.rs
  tests/ui/concrete-playback/non_zero/main.rs
  tests/ui/concrete-playback/option/main.rs
  tests/ui/concrete-playback/result/main.rs
  tests/ui/concrete-playback/slice-formula/main.rs
  tests/ui/concrete-playback/u128/main.rs
  tests/ui/concrete-playback/u16/main.rs
  tests/ui/concrete-playback/u32/main.rs
  tests/ui/concrete-playback/u64/main.rs
  tests/ui/concrete-playback/u8/main.rs
  tests/ui/concrete-playback/unsupported/loop.rs
  tests/ui/concrete-playback/usize/main.rs
  tests/ui/invalid-cbmc-function-arg/main.rs
  tests/ui/loop-contracts-synthesis/main_signed/main_signed.rs
  tests/ui/loop-contracts-synthesis/main_unsigned/main_unsigned.rs
  tools/compiletest/src/runtest.rs
Labels: Z-BenchCI

#3855 Toolchain upgrade to nightly-2025-01-28
  kani-compiler/src/kani_compiler.rs
  kani-compiler/src/main.rs
  kani-compiler/src/session.rs
  rust-toolchain.toml
Labels: [C] Internal, Z-BenchCI

#3808 Allow multiple annotations, but check for duplicate targets.
  kani-compiler/src/kani_middle/attributes.rs
  tests/expected/function-contract/missing_contract_for_replace.expected
  tests/expected/function-contract/multiple_replace_fail.expected
  tests/expected/function-contract/multiple_replace_fail.rs
  tests/expected/function-contract/multiple_replace_pass.expected
  tests/expected/function-contract/multiple_replace_pass.rs
Labels: Z-BenchCI

#3851 Move documentation of kani_core modules to right places
  library/kani_core/src/float.rs
  library/kani_core/src/lib.rs
  library/kani_core/src/mem.rs
  library/kani_core/src/mem_init.rs
Labels: [C] Documentation, Z-BenchCI

#3862 Fix missing function declaration issue
  kani-compiler/src/kani_middle/reachability.rs
  tests/kani/CodegenMisc/missing_mut_fn.rs
Labels: Z-BenchCI

#3861 Fix transmute codegen when sizes are different
  kani-compiler/src/codegen_cprover_gotoc/codegen/rvalue.rs
  tests/expected/intrinsics/transmute_diff_size.expected
  tests/expected/intrinsics/transmute_diff_size.rs
  tests/expected/intrinsics/transmute_unchecked_size.expected
  tests/expected/intrinsics/transmute_unchecked_size.rs
Labels: Z-BenchCI
